.git
.gitignore

node_modules
**/node_modules

**/.env
**/.env.*
!**/.env.example
!frontend/.env

secrets/

**/dist
**/.vite

backend/tests
backend/test-scripts
backend/playwright-report
backend/test-results
frontend/tests

.vscode
.idea
*.md