POSTGRES_USER=
POSTGRES_PASSWORD=uma-senha-forte
POSTGRES_DB=vagoneteiros_db

DATABASE_URL=postgresql://user:uma-senha-forte@postgres:5432/vagoneteiros_db?schema=public

FRONTEND_URL=https://seu-dominio.com

JWT_SECRET=uma-chave-muito-grande-e-aleatoria

FIREBASE_PROJECT_ID=vagoneteirosteste
FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account",...}

EMAIL_USER=...
EMAIL_PASS=...

GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_DRIVE_FOLDER_ID=...